<div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: blueviolet;">
    <div class="container-fluid" >
      <a class="navbar-brand header" href="#">TO DO APP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

<div class="container-fluid">
  <h1 class="text-center title">To Do List</h1>
  <app-todos></app-todos>
  
</div>
 
  </div>